<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keyword" content="jogo, apex legends, lendas, classes, popularidade">
    <meta name="decripition" content="Conheça o game Apex Legends e fique sempre atualizado">
    <meta name="author" content="Barbara Ramos Alves">
    <link rel="stylesheet" href="css/styleProjeto.css">
    <link rel="icon" href="Img/icone.png">
    <title>Lendas-Apex Legends</title>
</head>

<body>
    <header>
        <nav>
            <img src="Img/logo branca.png" alt="">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="modos.html">MODOS</a></li>
                <li><a href="lendas.html">LENDAS</a></li>
                <li><a href="mapas.html">MAPAS</a></li>
                <li><a href="seuJogo.html">SEU GAME</a></li>
            </ul>
        </nav>
        <ul>
            <li class="subMenu"><a href="#classes">Classes</a></li>
            <li class="subMenu"><a href="#lendas">Lendas</a></li>
            <li class="subMenu"><a href="#popularidade">Popularidade</a></li>
        </ul>
    </header>

    <main>
        <!-- seção: classes -->
        <section id="classes" class="classes">

            <h1>CLASSES</h1>
            <p>
                As lendas em Apex Legends são classificadas em diferentes classes, cada uma com características
                distintas que influenciam o estilo de jogo dos jogadores. Cada classe possui suas próprias
                características e estratégias de jogo exclusivas, o que permite que os jogadores escolham uma lenda que
                se encaixe perfeitamente em seu estilo preferido e na estratégia da equipe:
            </p>

            <img src="Img/classes-removebg-preview.png" alt="">

        </section>

        <!-- seção: Lendas -->
        <section id="lendas" class="lendas">
            <h1>LENDAS</h1>
            <div class="assalto">
                <p>
                    <b>Assalto:</b> Possui habilidades ofensivas e é especializada em causar dano aos inimigos.
                </p>
                <div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-ash.png.adapt.crop16x9.png" alt="">
                        <h2>Ash</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/common/arsenal/apex-grid-tile-legends-ballistic.png.adapt.crop16x9.png" alt="">
                        <h2>Ballistic</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-bangalore.png.adapt.crop16x9.png" alt="">
                        <h2>Bangalore</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2021/01/apex-grid-tile-legends-fuse.png.adapt.crop16x9.png" alt="">
                        <h2>Fuse</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2022/01/apex-grid-tile-legends-maggie.png.adapt.crop16x9.png" alt="">
                        <h2>Mad Maggie</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2020/02/apex-legend-revenant-grid-tile.png.adapt.crop16x9.png" alt="">
                        <h2>Revenant</h2>
                    </div>
                </div>
            </div>

            <div class="combate">
                <p>
                    <b>Combate:</b> Especialização em confrontos de curta distância e habilidades que favorecem o
                    combate corpo a corpo.
                </p>
                <div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2020/10/horizon/apex-grid-tile-legends-horizon.png.adapt.crop16x9.png" alt="">
                        <h2>Horizon</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-mirage.png.adapt.crop16x9.png" alt="">
                        <h2>Mirage</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-octane.png.adapt.crop16x9.png" alt="">
                        <h2>Octane</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-pathfinder.png.adapt.crop16x9.png" alt="">
                        <h2>Pathfinder</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2021/04/apex-grid-tile-legends-valkyrie.png.adapt.crop16x9.png" alt="">
                        <h2>Valkyrie</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-wraith.png.adapt.crop16x9.png" alt="">
                        <h2>Wraith</h2>
                    </div>
                </div>
            </div>

            <div class="batedor">
                <p>
                    <b>Batedor:</b> Habilidades de rastreamento e detecção de inimigos para obter informações
                    estratégicas.
                </p>
                <div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-bloodhound.png.adapt.crop16x9.png" alt="">
                        <h2>Bloodhound</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-crypto.png.adapt.crop16x9.png" alt="">
                        <h2>Crypto</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2021/07/seer-assets/apex-grid-tile-legends-seer.png.adapt.crop16x9.png" alt="">
                        <h2>Seer</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2022/07/apex-grid-tile-legends-vantage.png.adapt.crop16x9.png" alt="">
                        <h2>Vantage</h2>
                    </div>
                </div>
            </div>

            <div class="controle">
                <p>
                    <b>Controle:</b> Habilidades que manipulam o terreno de jogo e proporcionam vantagens táticas.
                </p>
                <div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2022/10/apex-grid-tile-legends-catalyst.png.adapt.crop16x9.png" alt="">
                        <h2>Catalyst</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-caustic.png.adapt.crop16x9.png" alt="">
                        <h2>Caustic</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2020/08/rampart/apex-grid-tile-legends-rampart.png.adapt.crop16x9.png" alt="">
                        <h2>Rampart</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-wattson.png.adapt.crop16x9.png" alt="">
                        <h2>Whattson</h2>
                    </div>

                </div>
            </div>

            <div class="suporte">
                <p>
                    <b>Suporte:</b> Foco em cura, ressurreição e fornecimento de utilidades para a equipe, oferecendo
                    suporte essencial durante as partidas.
                </p>
                <div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-gibraltar.png.adapt.crop16x9.png" alt="">
                        <h2>Gibraltar</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/legends-character-tiles/apex-grid-tile-legends-lifeline.png.adapt.crop16x9.png" alt="">
                        <h2>Lifeline</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2020/05/apex-grid-tile-legends-loba.png.adapt.crop16x9.png" alt="">
                        <h2>Loba</h2>
                    </div>
                    <div>
                        <img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2022/05/apex-grid-tile-legends-newcastle.png.adapt.crop16x9.png" alt="">
                        <h2>Newcastle</h2>
                    </div>

                </div>
            </div>

        </section>

        <!-- seção: popularidade  -->
        <section id="popularidade" class="popularidade">
            
                <h1>POPULARIDADE</h1>
                <div>
                <img src="Img/popularidade.png" alt="">
                <p>A popularidade dos personagens em Apex Legends é um reflexo do fascinante e diversificado conjunto de
                    habilidades que cada lenda traz para o jogo. Com uma ampla gama de estilos de jogo e estratégias
                    disponíveis, os jogadores têm a liberdade de escolher entre um elenco cativante de personagens. Cada
                    lenda oferece uma experiência única e emocionante, o que contribui para a crescente popularidade do
                    jogo. Essa variedade de opções permite que os jogadores encontrem uma lenda que se ajuste
                    perfeitamente
                    ao seu estilo de jogo e desafie suas habilidades táticas e estratégicas.
                </p>
            </div>

        </section>

    </main>

    <footer>
        <div class="rodape">
            <img src="Img/footer02.png" alt="">
            <div class="cadastro">

                <h2>Newsletter</h2>

                <form class="formulario">
                    <label for="txtNome"><b>Nome:</b></label><input type="text" id="txtNome" maxlength="30"
                        placeholder="Nome completo" required>
                    <br>

                    <label for="email"><b>E-mail:</b></label><input type="email" id="email" required
                        placeholder="e-mail válido">

                    <input id="botaocadastro" type="button" value="Cadastrar">

                </form>

            </div>


            <div>
                <img src="Img/instaBlack.png" alt="">
                <img src="Img/youtubeBlack.png" alt="">
                <img src="Img/twitterBlack.png" alt="">
            </div>
        </div>
        <p>Nenhum direito reservado</p>
    </footer>
</body>

</html>